openapi: 3.2.0
info:
  title: UCDP - The Public Battle Deaths API
  description: 'Uppsala Conflict Data Program (UCDP) RESTful HTTP API returning JSON for UCDP conflict datasets: georeferenced events, UCDP/PRIO armed conflict, dyadic, non-state, one-sided violence, battle-related deaths, and organized violence country-year. Access requires a free token supplied in the x-ucdp-access-token header (quota 5,000 requests/day).'
  version: '1.0'
  contact:
    name: Uppsala Conflict Data Program
    url: https://ucdp.uu.se/apidocs/
servers:
- url: https://ucdpapi.pcr.uu.se
  description: UCDP Public API
security:
- ApiToken: []
tags:
- name: BattleDeaths
paths:
  /api/BattleDeaths/{version}:
    get:
      tags:
      - BattleDeaths
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: pagesize
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: Country
        in: query
        schema:
          type: string
      - name: Conflict
        in: query
        schema:
          type: string
      - name: ConflictType
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: string
      - name: ConflictIncompatibility
        in: query
        schema:
          type: string
      - name: Dyad
        in: query
        schema:
          type: string
      - name: Key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BattleDeathsDbAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BattleDeathsDbAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BattleDeathsDbAPIResponse'
      summary: Get api battle deaths by version
      x-summary-source: derived
      operationId: getApiBattleDeathsByVersion
      x-operation-id-source: derived
components:
  schemas:
    BattleDeathsDbAPIResponse:
      type: object
      properties:
        TotalCount:
          type:
          - integer
          - 'null'
          format: int32
        TotalPages:
          type:
          - integer
          - 'null'
          format: int32
        PreviousPageUrl:
          type:
          - string
          - 'null'
        NextPageUrl:
          type:
          - string
          - 'null'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BattleDeathsDb'
      additionalProperties: false
    BattleDeathsDb:
      type: object
      properties:
        conflict_id:
          type:
          - string
          - 'null'
        dyad_id:
          type:
          - string
          - 'null'
        location_inc:
          type:
          - string
          - 'null'
        side_a:
          type:
          - string
          - 'null'
        side_a_id:
          type:
          - string
          - 'null'
        side_a_2nd:
          type:
          - string
          - 'null'
        side_b:
          type:
          - string
          - 'null'
        side_b_Id:
          type:
          - string
          - 'null'
        side_b_2nd:
          type:
          - string
          - 'null'
        incompatibility:
          type:
          - string
          - 'null'
        territory_name:
          type:
          - string
          - 'null'
        year:
          type:
          - string
          - 'null'
        bd_best:
          type:
          - string
          - 'null'
        bd_low:
          type:
          - string
          - 'null'
        bd_high:
          type:
          - string
          - 'null'
        type_of_conflict:
          type:
          - string
          - 'null'
        battle_location:
          type:
          - string
          - 'null'
        gwno_a:
          type:
          - string
          - 'null'
        gwno_a_2nd:
          type:
          - string
          - 'null'
        gwno_b:
          type:
          - string
          - 'null'
        gwno_b_2nd:
          type:
          - string
          - 'null'
        gwno_loc:
          type:
          - string
          - 'null'
        gwno_battle:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: apiKey
      description: UCDP API token sent in x-ucdp-access-token header
      name: x-ucdp-access-token
      in: header
