openapi: 3.2.0
info:
  title: UCDP - The Public Organized Violence CY API
  description: 'Uppsala Conflict Data Program (UCDP) RESTful HTTP API returning JSON for UCDP conflict datasets: georeferenced events, UCDP/PRIO armed conflict, dyadic, non-state, one-sided violence, battle-related deaths, and organized violence country-year. Access requires a free token supplied in the x-ucdp-access-token header (quota 5,000 requests/day).'
  version: '1.0'
  contact:
    name: Uppsala Conflict Data Program
    url: https://ucdp.uu.se/apidocs/
servers:
- url: https://ucdpapi.pcr.uu.se
  description: UCDP Public API
security:
- ApiToken: []
tags:
- name: OrganizedViolenceCY
paths:
  /api/organizedviolencecy/{version}:
    get:
      tags:
      - OrganizedViolenceCY
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: pagesize
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: Country
        in: query
        schema:
          type: string
      - name: Country_Id
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: string
      - name: Region
        in: query
        schema:
          type: string
      - name: Govt_name
        in: query
        schema:
          type: string
      - name: Sb_exist
        in: query
        schema:
          type: string
      - name: Sb_intrastate_exist
        in: query
        schema:
          type: string
      - name: Sb_interstate_exist
        in: query
        schema:
          type: string
      - name: Ns_exist
        in: query
        schema:
          type: string
      - name: Os_exist
        in: query
        schema:
          type: string
      - name: Key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrganizedViolenceCYDbAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizedViolenceCYDbAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OrganizedViolenceCYDbAPIResponse'
      summary: Get api organizedviolencecy by version
      x-summary-source: derived
      operationId: getApiOrganizedviolencecyByVersion
      x-operation-id-source: derived
components:
  schemas:
    OrganizedViolenceCYDb:
      type: object
      properties:
        country:
          type:
          - string
          - 'null'
        country_id:
          type:
          - integer
          - 'null'
          format: int32
        year:
          type:
          - integer
          - 'null'
          format: int32
        region:
          type:
          - string
          - 'null'
        govt_name:
          type:
          - string
          - 'null'
        sb_exist:
          type:
          - integer
          - 'null'
          format: int32
        sb_dyad_count:
          type:
          - integer
          - 'null'
          format: int32
        sb_dyad_ids:
          type:
          - string
          - 'null'
        sb_dyad_names:
          type:
          - string
          - 'null'
        sb_deaths_parties:
          type:
          - integer
          - 'null'
          format: int32
        sb_deaths_civilians:
          type:
          - integer
          - 'null'
          format: int32
        sb_deaths_unknown:
          type:
          - integer
          - 'null'
          format: int32
        sb_total_deaths_best:
          type:
          - integer
          - 'null'
          format: int32
        sb_total_deaths_high:
          type:
          - integer
          - 'null'
          format: int32
        sb_total_deaths_low:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_exist:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_dyad_count:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_dyad_ids:
          type:
          - string
          - 'null'
        sb_intrastate_dyad_names:
          type:
          - string
          - 'null'
        sb_intrastate_govt_inv_incomp:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_parties:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_civilians:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_unknown:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_best:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_high:
          type:
          - integer
          - 'null'
          format: int32
        sb_intrastate_deaths_low:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_exist:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_dyad_count:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_dyad_ids:
          type:
          - string
          - 'null'
        sb_interstate_dyad_names:
          type:
          - string
          - 'null'
        sb_interstate_govt_inv_incomp:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_parties:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_civilians:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_unknown:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_best:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_high:
          type:
          - integer
          - 'null'
          format: int32
        sb_interstate_deaths_low:
          type:
          - integer
          - 'null'
          format: int32
        ns_exist:
          type:
          - integer
          - 'null'
          format: int32
        ns_dyad_count:
          type:
          - integer
          - 'null'
          format: int32
        ns_dyad_ids:
          type:
          - string
          - 'null'
        ns_dyad_names:
          type:
          - string
          - 'null'
        ns_deaths_parties:
          type:
          - integer
          - 'null'
          format: int32
        ns_deaths_civilians:
          type:
          - integer
          - 'null'
          format: int32
        ns_deaths_unknown:
          type:
          - integer
          - 'null'
          format: int32
        ns_total_deaths_best:
          type:
          - integer
          - 'null'
          format: int32
        ns_total_deaths_high:
          type:
          - integer
          - 'null'
          format: int32
        ns_total_deaths_low:
          type:
          - integer
          - 'null'
          format: int32
        os_exist:
          type:
          - integer
          - 'null'
          format: int32
        os_dyad_count:
          type:
          - integer
          - 'null'
          format: int32
        os_dyad_ids:
          type:
          - string
          - 'null'
        os_dyad_names:
          type:
          - string
          - 'null'
        os_govt_inv:
          type:
          - integer
          - 'null'
          format: int32
        os_govt_killings_best:
          type:
          - integer
          - 'null'
          format: int32
        os_govt_killings_high:
          type:
          - integer
          - 'null'
          format: int32
        os_govt_killings_low:
          type:
          - integer
          - 'null'
          format: int32
        os_any_govt_inv:
          type:
          - integer
          - 'null'
          format: int32
        os_any_govt_killings_best:
          type:
          - integer
          - 'null'
          format: int32
        os_any_govt_killings_high:
          type:
          - integer
          - 'null'
          format: int32
        os_any_govt_killings_low:
          type:
          - integer
          - 'null'
          format: int32
        os_nsgroup_inv:
          type:
          - integer
          - 'null'
          format: int32
        os_nsgroup_killings_best:
          type:
          - integer
          - 'null'
          format: int32
        os_nsgroup_killings_high:
          type:
          - integer
          - 'null'
          format: int32
        os_nsgroup_killings_low:
          type:
          - integer
          - 'null'
          format: int32
        os_killings_unknown:
          type:
          - integer
          - 'null'
          format: int32
        os_total_deaths_best:
          type:
          - integer
          - 'null'
          format: int32
        os_total_deaths_high:
          type:
          - integer
          - 'null'
          format: int32
        os_total_deaths_low:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_parties_in_orgvio:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_civilians_in_orgvio:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_unknown_in_orgvio:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_in_orgvio_best:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_in_orgvio_high:
          type:
          - integer
          - 'null'
          format: int32
        cumulative_total_deaths_in_orgvio_low:
          type:
          - integer
          - 'null'
          format: int32
        Version:
          type:
          - string
          - 'null'
      additionalProperties: false
    OrganizedViolenceCYDbAPIResponse:
      type: object
      properties:
        TotalCount:
          type:
          - integer
          - 'null'
          format: int32
        TotalPages:
          type:
          - integer
          - 'null'
          format: int32
        PreviousPageUrl:
          type:
          - string
          - 'null'
        NextPageUrl:
          type:
          - string
          - 'null'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OrganizedViolenceCYDb'
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: apiKey
      description: UCDP API token sent in x-ucdp-access-token header
      name: x-ucdp-access-token
      in: header
