openapi: 3.2.0
info:
  title: UCDP - The Public GED Events API
  description: 'Uppsala Conflict Data Program (UCDP) RESTful HTTP API returning JSON for UCDP conflict datasets: georeferenced events, UCDP/PRIO armed conflict, dyadic, non-state, one-sided violence, battle-related deaths, and organized violence country-year. Access requires a free token supplied in the x-ucdp-access-token header (quota 5,000 requests/day).'
  version: '1.0'
  contact:
    name: Uppsala Conflict Data Program
    url: https://ucdp.uu.se/apidocs/
servers:
- url: https://ucdpapi.pcr.uu.se
  description: UCDP Public API
security:
- ApiToken: []
tags:
- name: GEDEvents
paths:
  /api/GEDEvents/{version}:
    get:
      tags:
      - GEDEvents
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: pagesize
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: Id
        in: query
        schema:
          type: string
      - name: Country
        in: query
        schema:
          type: string
      - name: Geography
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: TypeOfViolence
        in: query
        schema:
          type: string
      - name: Dyad
        in: query
        schema:
          type: string
      - name: Actor
        in: query
        schema:
          type: string
      - name: Key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GedDbAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/GedDbAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GedDbAPIResponse'
      summary: Get api ged events by version
      x-summary-source: derived
      operationId: getApiGEDEventsByVersion
      x-operation-id-source: derived
components:
  schemas:
    GedDb:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        relid:
          type:
          - string
          - 'null'
        year:
          type:
          - integer
          - 'null'
          format: int32
        active_year:
          type:
          - boolean
          - 'null'
        code_status:
          type:
          - string
          - 'null'
        type_of_violence:
          type:
          - integer
          - 'null'
          format: int32
        conflict_dset_id:
          type:
          - string
          - 'null'
        conflict_new_id:
          type:
          - integer
          - 'null'
          format: int32
        conflict_name:
          type:
          - string
          - 'null'
        dyad_dset_id:
          type:
          - string
          - 'null'
        dyad_new_id:
          type:
          - integer
          - 'null'
          format: int32
        dyad_name:
          type:
          - string
          - 'null'
        side_a_dset_id:
          type:
          - string
          - 'null'
        side_a_new_id:
          type:
          - integer
          - 'null'
          format: int32
        side_a:
          type:
          - string
          - 'null'
        side_b_dset_id:
          type:
          - string
          - 'null'
        side_b_new_id:
          type:
          - integer
          - 'null'
          format: int32
        side_b:
          type:
          - string
          - 'null'
        number_of_sources:
          type:
          - integer
          - 'null'
          format: int32
        source_article:
          type:
          - string
          - 'null'
        source_office:
          type:
          - string
          - 'null'
        source_date:
          type:
          - string
          - 'null'
        source_headline:
          type:
          - string
          - 'null'
        source_original:
          type:
          - string
          - 'null'
        where_prec:
          type:
          - integer
          - 'null'
          format: int32
        where_coordinates:
          type:
          - string
          - 'null'
        where_description:
          type:
          - string
          - 'null'
        adm_1:
          type:
          - string
          - 'null'
        adm_2:
          type:
          - string
          - 'null'
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        geom_wkt:
          type:
          - string
          - 'null'
        priogrid_gid:
          type:
          - integer
          - 'null'
          format: int32
        country:
          type:
          - string
          - 'null'
        country_id:
          type:
          - integer
          - 'null'
          format: int32
        region:
          type:
          - string
          - 'null'
        event_clarity:
          type:
          - integer
          - 'null'
          format: int32
        date_prec:
          type:
          - integer
          - 'null'
          format: int32
        date_start:
          type:
          - string
          - 'null'
          format: date-time
        date_end:
          type:
          - string
          - 'null'
          format: date-time
        deaths_a:
          type:
          - integer
          - 'null'
          format: int32
        deaths_b:
          type:
          - integer
          - 'null'
          format: int32
        deaths_civilians:
          type:
          - integer
          - 'null'
          format: int32
        deaths_unknown:
          type:
          - integer
          - 'null'
          format: int32
        best:
          type:
          - integer
          - 'null'
          format: int32
        high:
          type:
          - integer
          - 'null'
          format: int32
        low:
          type:
          - integer
          - 'null'
          format: int32
        gwnoa:
          type:
          - string
          - 'null'
        gwnob:
          type:
          - string
          - 'null'
      additionalProperties: false
    GedDbAPIResponse:
      type: object
      properties:
        TotalCount:
          type:
          - integer
          - 'null'
          format: int32
        TotalPages:
          type:
          - integer
          - 'null'
          format: int32
        PreviousPageUrl:
          type:
          - string
          - 'null'
        NextPageUrl:
          type:
          - string
          - 'null'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GedDb'
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: apiKey
      description: UCDP API token sent in x-ucdp-access-token header
      name: x-ucdp-access-token
      in: header
