openapi: 3.0.1
info:
  title: UCDP - The Public BattleDeaths NonState API
  description: 'Uppsala Conflict Data Program (UCDP) RESTful HTTP API returning JSON for UCDP conflict datasets: georeferenced events, UCDP/PRIO armed conflict, dyadic, non-state, one-sided violence, battle-related deaths, and organized violence country-year. Access requires a free token supplied in the x-ucdp-access-token header (quota 5,000 requests/day).'
  version: '1.0'
  contact:
    name: Uppsala Conflict Data Program
    url: https://ucdp.uu.se/apidocs/
servers:
- url: https://ucdpapi.pcr.uu.se
  description: UCDP Public API
security:
- ApiToken: []
tags:
- name: NonState
paths:
  /api/NonState/{version}:
    get:
      tags:
      - NonState
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: pagesize
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: Country
        in: query
        schema:
          type: string
      - name: Conflict
        in: query
        schema:
          type: string
      - name: Org
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: string
      - name: Key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NonStateDbAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/NonStateDbAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/NonStateDbAPIResponse'
components:
  schemas:
    NonStateDb:
      type: object
      properties:
        conflict_id:
          type: string
          nullable: true
        dyad_id:
          type: string
          nullable: true
        org:
          type: string
          nullable: true
        side_a_name:
          type: string
          nullable: true
        side_a_name_fulltext:
          type: string
          nullable: true
        side_a_name_mothertongue:
          type: string
          nullable: true
        side_a_id:
          type: string
          nullable: true
        side_a_components:
          type: string
          nullable: true
        side_a_2nd:
          type: string
          nullable: true
        gwno_a_2nd:
          type: string
          nullable: true
        side_b_name:
          type: string
          nullable: true
        side_b_name_fulltext:
          type: string
          nullable: true
        side_b_name_mothertongue:
          type: string
          nullable: true
        side_b_id:
          type: string
          nullable: true
        side_b_components:
          type: string
          nullable: true
        side_b_2nd:
          type: string
          nullable: true
        gwno_b_2nd:
          type: string
          nullable: true
        start_date:
          type: string
          nullable: true
        start_prec:
          type: string
          nullable: true
        start_date2:
          type: string
          nullable: true
        start_prec2:
          type: string
          nullable: true
        ep_end:
          type: string
          nullable: true
        ep_end_date:
          type: string
          nullable: true
        ep_end_prec:
          type: string
          nullable: true
        year:
          type: string
          nullable: true
        best_fatality_estimate:
          type: string
          nullable: true
        low_fatality_estimate:
          type: string
          nullable: true
        high_fatality_estimate:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        gwno_location:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        version:
          type: string
          nullable: true
      additionalProperties: false
    NonStateDbAPIResponse:
      type: object
      properties:
        TotalCount:
          type: integer
          format: int32
          nullable: true
        TotalPages:
          type: integer
          format: int32
          nullable: true
        PreviousPageUrl:
          type: string
          nullable: true
        NextPageUrl:
          type: string
          nullable: true
        Result:
          type: array
          items:
            $ref: '#/components/schemas/NonStateDb'
          nullable: true
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: apiKey
      description: UCDP API token sent in x-ucdp-access-token header
      name: x-ucdp-access-token
      in: header
