openapi: 3.2.0
info:
  title: UCDP - The Public One Sided API
  description: 'Uppsala Conflict Data Program (UCDP) RESTful HTTP API returning JSON for UCDP conflict datasets: georeferenced events, UCDP/PRIO armed conflict, dyadic, non-state, one-sided violence, battle-related deaths, and organized violence country-year. Access requires a free token supplied in the x-ucdp-access-token header (quota 5,000 requests/day).'
  version: '1.0'
  contact:
    name: Uppsala Conflict Data Program
    url: https://ucdp.uu.se/apidocs/
servers:
- url: https://ucdpapi.pcr.uu.se
  description: UCDP Public API
security:
- ApiToken: []
tags:
- name: OneSided
paths:
  /api/OneSided/{version}:
    get:
      tags:
      - OneSided
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: pagesize
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: Country
        in: query
        schema:
          type: string
      - name: Dyad
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: string
      - name: Key
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OneSidedDbAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OneSidedDbAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OneSidedDbAPIResponse'
      summary: Get api one sided by version
      x-summary-source: derived
      operationId: getApiOneSidedByVersion
      x-operation-id-source: derived
components:
  schemas:
    OneSidedDb:
      type: object
      properties:
        conflict_id:
          type:
          - string
          - 'null'
        dyad_id:
          type:
          - string
          - 'null'
        actor_id:
          type:
          - string
          - 'null'
        coalition_components:
          type:
          - string
          - 'null'
        actor_name:
          type:
          - string
          - 'null'
        actor_name_fulltext:
          type:
          - string
          - 'null'
        actor_name_mothertongue:
          type:
          - string
          - 'null'
        year:
          type:
          - integer
          - 'null'
          format: int32
        best_fatality_estimate:
          type:
          - integer
          - 'null'
          format: int32
        low_fatality_estimate:
          type:
          - integer
          - 'null'
          format: int32
        high_fatality_estimate:
          type:
          - integer
          - 'null'
          format: int32
        is_government_actor:
          type:
          - integer
          - 'null'
          format: int32
        location:
          type:
          - string
          - 'null'
        gwno_location:
          type:
          - string
          - 'null'
        gwnoa:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
      additionalProperties: false
    OneSidedDbAPIResponse:
      type: object
      properties:
        TotalCount:
          type:
          - integer
          - 'null'
          format: int32
        TotalPages:
          type:
          - integer
          - 'null'
          format: int32
        PreviousPageUrl:
          type:
          - string
          - 'null'
        NextPageUrl:
          type:
          - string
          - 'null'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OneSidedDb'
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: apiKey
      description: UCDP API token sent in x-ucdp-access-token header
      name: x-ucdp-access-token
      in: header
